* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

header {
    background-image: url(../1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: #ffffff;
    color: #000;
}

ul li.active a {
    background-color: #ffffff;
    color: #000;
}

.logo img {
    float: left;
    margin: auto;
    width: 150px;
    padding: 50px;
    transition: 0.6s ease;

}

.main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: #000;
    font-size: 40px;
    transition: 0.6s ease;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact h1 {
    color: #000;
    font-size: 40px;
    transition: 0.6s ease;
    float: left;
}

.contact p {
    color: #000;
    font-size: 20px;
    transition: 0.6s ease;
    float: left;
}

.method {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 60%;
    transform: translate(-10%, -10%);
    transition: 0.6s ease;
}

.video {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -60%);
}

.play {
    position: absolute;
    top: 60%;
    left: 43%;
    transform: translate(-60%, -60%);
}


.app {
    position: absolute;
    top: 30%;
    left: 40%;
}